{% extends "layouts/main.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>{{ title }}</title>
{% endblock %}



{% block content %}

{% for error in errors %}
    <div>{{ error }}</div>
{% endfor %}


    <h1>{{ title }}</h1>
    {{ form|raw }}

{% endblock %}

