{% extends "layouts/main.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Новости</title>
{% endblock %}


{% block content %}



    <a href="{{ addButton.href }}" data-remote="false" data-toggle="modal" data-target="#myModal" class="btn btn-default">{{ addButton.text }}</a>
    {% for artical in news %}

    <h2><a href="/news/artical?id={{ artical.id }}">{{ artical.title }}</a></h2>
    {% if artical.files is not empty %}
        <img src="{{ base }}/files/{{ artical.files }}" alt="{{ artical.title }}" width="20%">
    {% endif %}
        <div class="articles">
        {{ artical.text|raw }}
    </div>
    <div>
        {% for button in controls %}
            <a href="{{ button.href }}{{ artical.id }}" data-remote="false" data-toggle="modal" data-target="#myModal" class="btn btn-default">{{ button.text }}</a>
        {% endfor %}
    </div>
    {% endfor %}

    {{ form|raw }}

{% endblock %}

