{% extends "layouts/main.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Новости</title>
{% endblock %}


{% block content %}

    {% for artical in news %}

    <h2><a href="/news/artical?id={{ artical.id }}">{{ artical.title }}</a></h2>
    <div class="articles">
        {{ artical.text }}
    </div>
    {% endfor %}

    {{ form|raw }}

{% endblock %}

