<form action="{{ action }}" method="{{ method }}">
    {% for key, field in fields %}
    <div class="form-group {% if  field.error == true %}has-error{% endif %}">

        {% if field.tag == 'input' %}

            <label>{{ field.label }}</label>
            {% if field.attributes.class == 'fileupload' %}
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select files...</span>
                    <input name="{{ key }}" {% for key, item in field.attributes %} {{ key }}="{{ item }}" {% endfor %}>
                    <input type="hidden" name="{{ key }}" value="{{ field.attributes.value }}">
                </span>
                <br>
                <br>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <div id="files" class="files">
                    {% if field.attributes.value is not empty %}
                        <img src="{{ formData.imgPath }}{{ field.attributes.value }}" width="30%">
                        <button type="button" data-url='{{ field.attributes.value }}' data-type='DELETE' class='delete'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    {% endif %}
                </div>

            {% else %}
                <input name="{{ key }}" {% for key, item in field.attributes %} {{ key }}="{{ item }}" {% endfor %}>
            {% endif %}


        {% endif %}

        {% if field.tag == 'textarea' %}
            <div class="form-item">
                <label>{{ field.label }}</label>
                    <textarea name="{{ key }}" class="textarea"
                    {% for key, item in field.attributes %}{{ key }}="{{ item }}"

                        {% endfor %}>{{ field.value }}</textarea>

            </div>
        {% endif %}

        {% if field.tag == 'select' %}
            <div class="form-item">
                <label>{{ field.label }}
                    <select name="{{ key }}" {% for key, item in field.attributes %} {{ key }}="{{ item }}" {% endfor %}>
                        {% for key, option in field.option %}
                            <option value="{{ key }}" {% if field.default == key %}selected{% endif %}>
                                {{ option }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        {% endif %}

    </div>
        {% endfor %}
</form>