<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{{ base }}">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/blueimp-file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" type="text/css" href="/src/templates/style.css" media="screen" />
        <style>
            label{
                display:block;
            }
        </style>
    {% endblock %}
</head>
<body>

<div id="wrap">

    <div id="header">
        <h1><a href="#">Website Title</a></h1>
        <h2>Subheader, website description H2</h2>
        {% if isAuth %}
            <a href="{{ base }}/user/logout">Выйти</a>
        {% else %}
            <a href="{{ base }}/user/login">Войти</a>
        {% endif %}
    </div>

    <div id="menu">
        <ul>
            {% for item in menu %}
                <li><a href="#">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="content">
        <div class="right">

            {{ msg|raw }}
            {% block content %}{% endblock %}
        </div>

        <div class="left">

            <h2>Categories :</h2>
            <ul>
                <li><a href="#">World Politics</a></li>
                <li><a href="#">Europe Sport</a></li>
                <li><a href="#">Networking</a></li>
                <li><a href="#">Nature - Africa</a></li>
                <li><a href="#">SuperCool</a></li>
                <li><a href="#">Last Category</a></li>
            </ul>

            <h2>Archives</h2>
            <ul>
                <li><a href="#">January 2007</a></li>
                <li><a href="#">February 2007</a></li>
                <li><a href="#">March 2007</a></li>
                <li><a href="#">April 2007</a></li>
                <li><a href="#">May 2007</a></li>
                <li><a href="#">June 2007</a></li>
                <li><a href="#">July 2007</a></li>
                <li><a href="#">August 2007</a></li>
                <li><a href="#">September 2007</a></li>
                <li><a href="#">October 2007</a></li>
                <li><a href="#">November 2007</a></li>
                <li><a href="#">December 2007</a></li>
            </ul>

        </div>
        <div style="clear: both;"> </div>
    </div>

    <div id="footer">
        Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">website design</a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="alert alert-danger" role="alert" style="display:none;"></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ajax">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- End modal -->


<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>

    var link;

    $("#myModal").on("show.bs.modal", function(e) {

        link = $(e.relatedTarget);
        var modal = $(this);

        $.ajax({
            url: link.attr("href"),
            type: "GET",
            dataType: "json",
            success: function(html){
                modal.find('.modal-body').html(html.body);
                modal.find('.modal-title').html(html.title);
            },
            complete: function() {
                tinymce.init({
                    selector:'textarea',
                    setup: function (editor) {
                        editor.on('change', function () {
                            tinymce.triggerSave();
                        });
                    },
                });
                up();
            }
        });

    });

    $("body").on('click', '#ajax', function(){
        var $form = $('#myModal').find('form');
        $.ajax({
            url: link.attr("href"),
            type: "POST",
            dataType: "json",
            data: $form.serialize(),
            success: function(html){

                if (html.status == 0){
                    $('.alert').show();

                    $('.alert').html('');
                    $form.find("[name]").css('border', '');console.log(html.errors);

                    $.each(html.errors, function (field, error) {
                        $('<p/>').text(error.errorText).appendTo('.alert');
                        $form.find("[name='" + error.field + "']").css('border', '1px solid red');
                    });
                }
                else{
                    $("#myModal").modal('hide');
                    location = html.redirect;

                }
            }
        });
    });

    // Upload

    function up() {
        'use strict';

        var fileupload = $('.fileupload');
        var url = fileupload.attr('data-url');
        var uploadData = fileupload.siblings('input');

        fileupload.fileupload({
            replaceFileInput: false,
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    uploadData.val(file.name);
                    var deleteBtn = "<button data-url='"+file.name+"' data-type='DELETE' class='btn btn-danger delete'>X</button>";
                    $('#files').html('<img width="10%" src=' + file.url +'>'+deleteBtn);
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

        $("body").on('click', ".delete", function(){
            $.ajax({
                type: "DELETE",
                url: url + '?file=' + $(this).attr('data-url'),
                dataType: "json",
                success: function(html){
                    uploadData.val('');
                    $('#files').html('');
                },
            });
        });
    };

</script>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/vendor/tinymce/tinymce.min.js"></script>

<script>
        tinymce.init({
            selector: '.textarea'
        });
</script>



</body>
</html>