<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{{ base }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



    <link rel="stylesheet" href="{{ base }}/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base }}/vendor/blueimp-file-upload/css/jquery.fileupload.css">
    <link href="{{ base }}/src/templates/css/style.css" rel="stylesheet" type="text/css" media="all"/>



    {% endblock %}
</head>
<body>

{% if isAuth %}

<div id="adminMenu">
    <ul class="adminMenu_left clearfix">
        <li>
            <a href="{{ base }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Главная</a></li>
        <li><a href="{{ base }}/slider/list">Слайдер</a></li>
        <li><a href="{{ base }}/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Настройки</a></li>
    </ul>

    <ul class="adminMenu_right clearfix">
        <li>
            <a href="{{ base }}/user" class="adminMenu_user">
				<span class="adminMenu_userImg_wrap">
					<img src="{{ base }}/files/user/{{ isAuth.img }}" alt="{{ isAuth.login }}">
				</span>
                <span class="adminMenu_user_name">{{ isAuth.login }}</span>
            </a>
        </li>
        <li>
            <a href="{{ base }}/user/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Выйти</a>
        </li>
    </ul>

</div>
{% endif %}

<!--top nav start here-->
<div class="mother-grid">
    <div class="container">
        <div class="temp-padd">
            <div class="top-strip">
                <div class="address">
                    <ul>
                        <li><a href="#"><span class="link"> </span>{{ settings.site }}</a></li>
                        <li><a href="mailto:example@email.com"><span class="mes"> </span>{{ settings.email }}</a></li>
                        <li><span class="ph"> </span>{{ settings.phone }}</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--top nav end here-->
            <!--title start here-->
            <div class="title-main">
                <a href="{{ base }}"><h1>{{ settings.siteName }}</h1></a>

            </div>
            <!--title end here-->
            <!--header start here-->
            <div class="header">
                <div class="navg">
                    <ul class="res">
                        <li><a class="active" href="{{ base }}">Home</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--header end here-->

            {{ msg|raw }}

            {% block content %}{% endblock %}

            <!--footer start here-->
            <div class="footer">
                <div class="footer-main">
                    <div class="footer-bottom">
                        {{ settings.siteFooter|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--footer end here-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="alert alert-danger" role="alert" style="display:none;"></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ajax">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- End modal -->


<script src="{{ base }}/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ base }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ base }}/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ base }}/vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{ base }}/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="{{ base }}/vendor/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ base }}/src/templates/js/move-top.js"></script>
<script type="text/javascript" src="{{ base }}/src/templates/js/easing.js"></script>
<script type="text/javascript" src="{{ base }}/src/templates/js/admin-script.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

<script>
        tinymce.init({
            selector: '.textarea'
        });
</script>


            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>



</body>
</html>